* {
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
}
.app {
}
a,
p {
  color: #ccc;
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.HomeContent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(24, 24, 24);
}
.pictureContent {
  border: 1px solid #ccc;
  height: 80vh;
  padding: 11px;
  margin: 10px;
  border-radius: 15px;
}
.img-content {
  width: 100%;
  height: 100%;
  position: relative;
}
.img-content img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20vh;
  padding-left: 40px;
}
.border {
  width: 100px;
  border: 2px solid white;
  margin-top: 10px;
}
.choseColor {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.colorContent {
  background-color: rgba(204, 204, 204, 0.274);
  height: 30px;
  width: 110px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
  cursor: pointer;
}
.border-color {
  width: 3px;
  height: inherit;
}
.btn {
  border: 1px solid white;
  padding: 0px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 2rem;
  color: white;
  margin-bottom: 5px;
  padding-bottom: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: white;
  color: gray;
}

.squreColor {
  height: 200px;
  width: 200px;
  border: 3px solid white;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.247);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border-radius: 5px;
  width: 100vw;
  height: 100vh;
  background: #ffbc97;
  position: relative;
}

.resizeable {
  position: absolute;
  border: 2px solid #533535;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15px;
  min-height: 15px;
}

.resizer {
  position: absolute;
  background: black;
}

.resizer-r {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  width: 5px;
}

.resizer-t {
  cursor: row-resize;
  height: 5px;
  left: 0;
  top: 0;
  width: 100%;
}

.resizer-b {
  cursor: row-resize;
  height: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.resizer-l {
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  width: 5px;
}
